@page
@model StatisticModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	@{
		<div>
			<p>CandidateCount: @Model.candidateCount, BingoCodeCount: @Model.bingoCodeCount</p>
		</div>
	}
</div>
